* {
    box-sizing: border-box;
}

.marca {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.puntuacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.puntuacion > span {
    font-size: 1.3rem;
    color: black;
}

.puntuacion > strong {
    font-size: 2rem;
    color: black;
}
