* {
    box-sizing: border-box;
}

.caja {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/pokemon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titulos {
    font-family: 'Fredoka', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.titulos > h1 {
    font-weight: 400;
}

.titulos > h3 {
    font-weight: 400;
}

.juego {
    display: flex;
    flex-direction: column;
    align-items: center;
}
